<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head''); %>

  <body class="container">
    <%- include('../partials/header'); %>

    <main>
      <div class="jumbotron">
        <h1>Sobre mim</h1>
        <p>Eae</p>
      </div>
    </main>
  </body>

  <%- include('../partials/footer'); %>
</html>
